<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <!-- {% for icon in site.data.twenty_19.home_about.icons %} -->
        <!-- <span class="icon&#45;about"> -->
        <!--   <img class="icon&#45;image icon&#45;{{icon[1][0].side}}" src="{{ icon[1][0].img | prepend: "/../assets/2019_style/img/icons/" | prepend: site.baseurl }}" alt="{{icon[1][0].alt}}"> -->
        <!--   <div class="icon&#45;text"> -->
        <!--     {{icon[1][0].text}} -->
        <!--   </div> -->
        <!-- </span> -->
        <!-- {% endfor %} -->
      </div>
    </div>
  </div>
</section>
