<!-- About Section -->
<section id="about" style="padding-top:80px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">About</h2>
        <p>
        Open science is an umbrella term.
        It describes a multitude of initiatives trying to harvest the potential of digital technologies to change how knowledge is produced, disseminated and reused.
        </p>

        <p>
        These solutions are often work in progress and challenge a status quo where the publication process leads to static, often behind paywalls, text documents that do not represent the complexity of the research process.
        </p>

        <p>
        In an attempt to restore best practice in the production and dissemination of knowledge, a transition to a more open and reproducible research is desirable and requires new incentives and infrastructures.
        </p>

        <p>

        This transition is mostly a cultural change, which is best supported by initiatives stemming from the scientific community itself (bottom-up approach).
        To a lesser extent, it is also a technical issue that requires the development of new tools based on state-of-the art digital technologies.
        </p>

        <p>

        How to use 21st century writing and publishing technologies? How to best generate and share data? How to document your experiments or keep track of the multiple versions of your code? These will be some of the questions that will be answered by the instructors contributing to the course.
        </p>

        <p>
        The Summer school Open Science in Practice is organised by and for doctoral students and early career researchers from the Eurotech Universities, and beyond.
        We would like to encourage anyone interested in learning more about the topic to apply! You will discover a pragmatic approach to Open Science that addresses what early career researchers care about:
        </p>

        <ul>
          <li>
            <p>
            How to access the necessary training, tools and information sources to conduct your research in an optimal way?
            </p>
          </li>

          <li>
            <p>
            How to discover and adopt best practices in the field of publication, data life cycle management, software engineering, and more?
            </p>
          </li>

          <li>
            <p>
            How to increase the quality and visibility of your contributions to science?
            </p>
          </li>

          <li>
            <p>
            How to get credit for your work, facilitate successful collaborations, as well as promote the further reuse and impact of your results?
            </p>
          </li>
        </ul>


      </div>
    </div>
  </div>
</section>
