<!-- Agenda -->
<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Agenda</h2>

        <!-- Common track: full column -->
        {% for day in site.data.twenty_19.agenda_common %}
          <h3>{{ day.name }}</h3>
          {% for slot in day %}
            {% if slot.time %}
              <p> {{ slot.time }}: <b> {{ slot.title }},  {{ slot.topic }} </b> - <i> {{ slot.name }} ({{ slot.position }}) </i> </p>
            {% endif %}
          {% endfor %}
        {% endfor %}

        <!-- TODO(FD): put below into two columns  -->
        <!-- Two tracks: half columns  -->
        {% for day in site.data.twenty_19.agenda_computational %}
          <h3>{{ day.name }}</h3>
          {% for slot in day %}
            {% if slot.time %}
              <p> {{ slot.time }}: <b> {{ slot.title }},  {{ slot.topic }} </b> - <i> {{ slot.name }} ({{ slot.position }}) </i> </p>
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% for day in site.data.twenty_19.agenda_experimental %}
          <h3>{{ day.name }}</h3>
          {% for slot in day %}
            {% if slot.time %}
              <p> {{ slot.time }}: <b> {{ slot.title }},  {{ slot.topic }} </b> - <i> {{ slot.name }} ({{ slot.position }}) </i> </p>
            {% endif %}
          {% endfor %}
        {% endfor %}


      </div>
    </div>
  </div>
</section>
