<!-- Agenda -->
<section id="agenda">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Agenda</h2>
      <div class="col-md-12">
        <table class="table table-agenda">
        <tbody>
        {% for day in site.data.twenty_19.agenda_common %}
          <tr>
            <td colspan="2" class="table-primary"> 
              <h3> {{ day.name }} </h3>
            </td>
          </tr>
          {% for slot in day %}
            {% if slot.time %}
              <tr class="{{ slot.kind }}" > 
                <td> 
                  {{ slot.time }} 
                </td>
                <td > 
                  {% if slot.kind == "lecture" or slot.kind == "workshop"%}
                    <b> {{ slot.title }} {{ slot.topic }} </b> 
                    <i> {{ slot.name }} 
                    {% if slot.position %}
                      ({{ slot.position }}) 
                    {% endif %}
                    </i> 
                  {% else if slot.kind == "break" %}
                    <b> {{ slot.topic }} </b> 
                  {% endif %}
                </td>
                <td class="{{ slot.kind }}" > 
                  {{ slot.location }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
        </table>
      </div>
      <!-- Two tracks: half columns  -->
      <!-- I would like to loop over compuational, experimental agendas here
           but it is not possible to initialize an array in liquid.-->
      <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table">
        <tbody>
        {% for day in site.data.twenty_19.agenda_experimental %}
          <tr>
            <td colspan="2" class="table-primary"> 
              <h3> {{ day.name }} </h3>
            </td>
          </tr>
          {% for slot in day %}
            {% if slot.time %}
              <tr class="{{ slot.kind }}" > 
                <td> 
                  {{ slot.time }} 
                </td>
                <td > 
                  {% if slot.kind == "lecture" or slot.kind == "workshop"%}
                    <b> {{ slot.title }} {{ slot.topic }} </b> 
                    <i> {{ slot.name }} 
                    {% if slot.position %}
                      ({{ slot.position }}) 
                    {% endif %}
                    </i> 
                  {% else if slot.kind == "break" %}
                    <b> {{ slot.topic }} </b> 
                  {% endif %}
                </td>
                <td class="{{ slot.kind }}" > 
                  {{ slot.location }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table">
        <tbody>
        {% for day in site.data.twenty_19.agenda_computational %}
          <tr>
            <td colspan="2" class="table-primary"> 
              <h3> {{ day.name }} </h3>
            </td>
          </tr>
          {% for slot in day %}
            {% if slot.time %}
              <tr class="{{ slot.kind }}" > 
                <td> 
                  {{ slot.time }} 
                </td>
                <td > 
                  {% if slot.kind == "lecture" or slot.kind == "workshop"%}
                    <b> {{ slot.title }} {{ slot.topic }} </b> 
                    <i> {{ slot.name }} 
                    {% if slot.position %}
                      ({{ slot.position }}) 
                    {% endif %}
                    </i> 
                  {% else if slot.kind == "break" %}
                    <b> {{ slot.topic }} </b> 
                  {% endif %}
                </td>
                <td class="{{ slot.kind }}" > 
                  {{ slot.location }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <table class="table">
        <tbody>
        {% for day in site.data.twenty_19.agenda_common_friday %}
          <tr>
            <td colspan="2" class="table-primary"> 
              <h3> {{ day.name }} </h3>
            </td>
          </tr>
          {% for slot in day %}
            {% if slot.time %}
              <tr class="{{ slot.kind }}" > 
                <td> 
                  {{ slot.time }} 
                </td>
                <td > 
                  {% if slot.kind == "lecture" or slot.kind == "workshop"%}
                    <b> {{ slot.title }} {{ slot.topic }} </b> 
                    <i> {{ slot.name }} 
                    {% if slot.position %}
                      ({{ slot.position }}) 
                    {% endif %}
                    </i> 
                  {% else if slot.kind == "break" %}
                    <b> {{ slot.topic }} </b> 
                  {% endif %}
                </td>
                <td class="{{ slot.kind }}" > 
                  {{ slot.location }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
