<!-- Agenda -->
<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-heading">Agenda</h2>
      </div>
    </div>

    {% for day in site.data.twenty_19.agenda %}
    {% if day[1].schedule %}
    <div class="row mt-5">
      <div class="col-md-6 col-md-offset-3 agenda-day">
        <table class="table table-striped table-agenda">
          <tbody>
            <tr>
              <td colspan="2" class="table-primary text-center"> 
                <h3> {{ day[0] }} </h3>
              </td>
            </tr>
            {% for slot in day[1].schedule %}
            <tr> 
              <td> 
                {{ slot.time }} 
              </td>
              <td class="{{ slot.kind }}"> 
                {{ slot.topic }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Split day -->
    {% else %}
    <div class="row mt-5">
      {% for type in day[1] %}
      <div class="col-md-6 agenda-day">
        <table class="table table-striped table-agenda">
          <tbody>
            <tr>
              <td colspan="2" class="table-primary text-center"> 
                <h3> {{ day[0] }} ({{type[0]}}) </h3>
              </td>
            </tr>
            {% for slot in type[1].schedule %}
            <tr> 
              <td> 
                {{ slot.time }} 
              </td>
              <td class="{{ slot.kind }}" > 
                {{ slot.topic }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
