<!-- <section id="contact"> -->
<!-- <div class="container"> -->
<!--   <div class="row"> -->
<!--     <div class="col&#45;lg&#45;12 text&#45;center"> -->
<!--       <h2 class="section&#45;heading">Contact Us</h2> -->
<!--       <h3 class="section&#45;subheading text&#45;muted">We will do our best to answer your request as soon as possible. You may send us your request via <a href="https://www.facebook.com/">Facebook Message</a></h3> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="row"> -->
<!-- <div class="col&#45;lg&#45;12"> -->
<!--   <form name="sentMessage" id="contactForm" action="https://formspree.io/hello.world@gmail.com" method="POST" novalidate> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;md&#45;6"> -->
<!--         <div class="control&#45;group form&#45;group"> -->
<!--           <input type="text" class="form&#45;control" name="name" placeholder="Your Name *" id="name" required data&#45;validation&#45;required&#45;message="Please enter your name."WW> -->
<!--           <p class="help&#45;block text&#45;danger"></p> -->
<!--         </div> -->
<!--         <div class="control&#45;group form&#45;group"> -->
<!--           <input type="email" class="form&#45;control" name="_replyto" placeholder="Your Email *" id="email" required data&#45;validation&#45;required&#45;message="Please enter your email address."> -->
<!--           <p class="help&#45;block text&#45;danger"></p> -->
<!--         </div> -->
<!--         <div class="control&#45;group form&#45;group"> -->
<!--           <input type="tel" class="form&#45;control" name="phone" placeholder="Your Phone" id="phone" required data&#45;validation&#45;required&#45;message="Please enter your phone number (optional)."> -->
<!--           <p class="help&#45;block text&#45;danger"></p> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="col&#45;md&#45;6"> -->
<!--         <div class="control&#45;group form&#45;group"> -->
<!--           <textarea class="form&#45;control" name="message" placeholder="Your Message *" id="message" required data&#45;validation&#45;required&#45;message="Please enter a message."></textarea> -->
<!--           <p class="help&#45;block text&#45;danger"></p> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="clearfix"></div> -->
<!--       <div class="col&#45;lg&#45;12 text&#45;center"> -->
<!--         <div id="success"></div> -->
<!--         <button type="submit" value="Send" class="btn btn&#45;xl">Send Message</button> -->
<!--       </div> -->
<!--     </div> -->
<!--   </form> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!-- </section> -->
