<!-- <section id="contact&#45;us"> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;md&#45;8 col&#45;md&#45;offset&#45;2 text&#45;center"> -->
<!--         <h2 class="section&#45;heading">Contact Us</h2> -->
<!--         <h3 class="section&#45;subheading text&#45;muted">If you have any question or remark, you can send us an email using <a href="mailto:openscience@epfl.ch">openscience@epfl.ch</a></h3> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </aside> -->
