<!-- Services Section -->
<section id="intro" style="padding-top:80px;padding-bottom:0px">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-12">
        <p class="section-subheading">
          <span class="text-highlight">"Open"</span>  is the new black. Everybody talks about open science. But what does it mean exactly?
        </p>
        <p class="justify"> This summer school is for anyone interested in learning more about what academic research will look like in the future. No preliminary knowledge of open science is required! We want to bring together established scientists and early career researchers to provide a stimulating, yet friendly, learning environment. </p>
        <p> The course will take place over five days, with a large part of the program dedicated to workshops and tutorials. Instructors will present their experience and expertise on how you can adopt open science tools and best practice to be more efficient, more reproducible, more visible and more impactful.</p>
        
        <div class="col text-center">
          <a href="#BackgroundInfo" data-toggle="modal" class="btn btn-sm-new">More information</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade people-modal" id="BackgroundInfo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="close-modal close-modal-cross" data-dismiss="modal">
          <i class="fa fa-close"></i>
        </div>
        <h2> About the summer school </h2>
        <p> The course “Open Science in Practice” will start on Monday 2 September in the morning and end on Friday 6 September after lunch. The first 2 days will be dedicated to some general and historical aspects of the open science movement. The remaining days will cover some important practical aspects of open science, including some tools and best practice that will help participants put open science in practice. During these three days, participants will be able to choose lectures and workshops from two tracks, specific to experimental and computational science, depending on their interest. </p>

        <p> The Summer school Open Science in Practice is organised by and for doctoral students and early career researchers from the Eurotech Universities, and beyond. We would like to encourage anyone interested in learning more about the topic to apply! You will discover a pragmatic approach to Open Science that addresses what early career researchers care about: </p>

        <ul> 
          <li> <p> How to access the necessary training, tools and information sources to conduct your research in an optimal way?  </p> </li> 
          <li> <p> How to discover and adopt best practices in the field of publication, data life cycle management, software engineering, and more?  </p> </li>
          <li> <p> How to increase the quality and visibility of your contributions to science?  </p> </li>
          <li> <p> How to get credit for your work, facilitate successful collaborations, as well as promote the further reuse and impact of your results?  </p> </li>
        </ul>

        <h2> About open science </h2>

        <p> Open science is an umbrella term. It describes a multitude of initiatives trying to harvest the potential of digital technologies to change how knowledge is produced, disseminated and reused. These solutions are often work in progress and challenge a status quo where the publication process leads to static, often behind paywalls, text documents that do not represent the complexity of the research process. </p>

        <p> In an attempt to restore best practice in the production and dissemination of knowledge, a transition to a more open and reproducible research is desirable and requires new incentives and infrastructures. This transition is mostly a cultural change, which is best supported by initiatives stemming from the scientific community itself (bottom-up approach). To a lesser extent, it is also a technical issue that requires the development of new tools based on state-of-the art digital technologies. </p>

        <p> How to use 21st century writing and publishing technologies? How to best generate and share data? How to document your experiments or keep track of the multiple versions of your code? These will be some of the questions that will be answered by the instructors contributing to the course. </p>

      </div>
    </div>
  </div>
</div>
