<!-- Services Section -->
<section id="intro" style="padding-top:80px;padding-bottom:0px">
  <div class="container">
    <div class="row">
      <!-- <center><a href="#" class="page&#45;scroll btn btn&#45;xl&#45;new">Registration will open soon</a></center> -->
      <div class="col-md-8 col-md-offset-2 col-12">
        <p class="section-subheading">
          <span class="text-highlight">"Open"</span> is the new black. Everybody talks about Open Science, but what does it mean exactly?
        </p>
        <p>
        Care to openly share your publications, data and code? This summer school is for anyone interested in learning more about what academic research will look like in the future. The course will bring together established scientists and early career researchers to provide a friendly learning environment. With a large portion of the program dedicated to workshops and tutorials, instructors will present how you can adopt open science tools and best practice to be more efficient, more reproducible, more visible and more impactful. No preliminary knowledge required!
        </p>
      </div>
    </div>
  </div>
</section>
