<!-- Info Section -->
<section id="info" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Practical Information</h2>
      </div>
      <div class="col-md-8 col-md-offset-2 col-12">
        <div class="text-center">
          <p class="section-subheading">
          <span class="">Registrations will open soon!</span>
          </p>
          <h2>Important dates</h2>
          <table class="table" align="center">
            <tr>
              <td width="80px" align="right">1 July 2019</td>
              <td width="100px" align="left"><b><span class="text-highlight">Registration closes</span></b></td>
            </tr>
            <tr>
              <td width="80px" align="right">5 July 2019</td>
              <td width="100px" align="left">Participants are confirmed, course fee  is expected to be paid within 30 days</td>
            </tr>
            <tr>
              <td width="80px" align="right">26 August 2019</td>
              <td width="100px" align="left">First essay due</td>
            </tr>
            <tr>
              <td width="80px" align="right">2-6 September 2019</td>
              <td width="100px" align="left">Summer School</td>
            </tr>
            <tr>
              <td width="80px" align="right">20 September 2019</td>
              <td width="100px" align="left">Second essay due</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Course fee</h2>
      <p>
      100 EUR per participant (to be paid within 30 days after being accepted to the course)
      </p>
      <p>
      The fee covers: Course material, lectures and workshops, lunch and coffee breaks, course dinner on Thursday night.
      Accommodation, travel and remaining dinners should be covered by participants (see information below)
      </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Course credits</h2>
      <p>
      Doctoral students from Eurotech institutions can obtain 2 ECTS for completing this Summer School (if relevant). The course is part of the EPFL doctoral school program (course description).
      </p>
      <p>
      Non-Eurotech PhD candidates who wish to register for ECTS credits should check with their own institution for the possibility and procedure to receive the credits.
      </p>

      <p>
      Requirements and workload for obtaining credits are as follow:
      <ul>
        <li>
          <p>
          Participation to the full program
          </p>
        </li>
        <li>
          <p>
          Pre-course homework (ca 8 hours to be completed 1 week prior to the course)
          </p>
        </li>
        <li>
          <p>
          Post-course homework (ca 8 hours to be completed 2 weeks after the course)
          </p>
        </li>
      </ul>
      </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Accommodation</h2>
      <p>
      Participants should book their own accommodation and travel as soon as they receive confirmation of their participation from the organising team.
      We can recommend the following options:
      </p>
      <ul>
        <li>
          <p>
          <a href="https://starling-hotel-lausanne.com " target="_blank">Starling Hotel</a> - on campus, 10 minutes walk from EPFL metro station
          </p>
        </li>
        <li>
          <p>
          <a ref="https://www.swisstech-hotel.com/en/home" target="_blank">Swisstech Hotel</a> - on campus, right at the EPFL metro station
          </p>
        </li>
        <li>
          <p>
          <a ref="http://www.lhotel.ch" target="_blank">Mad House</a> - in Lausanne city center, very central, in style, right at a metro station, 15 minutes to EPFL
          </p>
        </li>
        <li>
          <p>
          <a ref="https://www.accorhotels.com/gb/hotel-6772-ibis-lausanne-centre/index.shtml" target="_blank">Ibis Hotel</a> - in Lausanne city center, relatively central, 5 minutes from a metro station, 20 minutes to EPFL
          </p>
        </li>
      </ul>
      <p>If you need any more information or recommendations, you can contact us by email.</p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Travel</h2>
      <p>We believe it is reasonable for you to arrive the night before (Sunday 1st September) and leave on the afternoon of the last day (Friday 6th September).</p>
      <p>Participants are responsible for the reimbursement of your travel costs.</p>
      <h3>By plane</h3>
      <p>The closest airport to EPFL is Geneva International (<a href="https://www.gva.ch/en/" target="_blank">GVA</a>). As an alternative, you can fly to Zürich airport (<a href="https://www.zurich-airport.com/passengers-and-visitors" target="_blank">ZRH</a>). However, please note that, although there is a direct train link from Zürich airport to Lausanne, the travel time is significantly longer.</p>
      <p>From Geneva airport (GVA) to Lausanne: direct train connection, 45-60 minutes</p>
      <p>From Zürich airport (ZRH) to Lausanne: direct train connection, 2 hours 30 minutes</p>
      <h3>By train</h3>
      <p>International train connections make it easy to travel to Lausanne e.g. from France, Germany and Italy. Swiss trains can be scheduled and booked with the <a href="https://www.sbb.ch" target="_blank">SBB</a>. Please consider this option to reduce your carbon footprint.</p>
      <h3>Local public transport</h3>
      <p>Most hotel deals will come with a free public transportation card for the duration of your stay. Do ask the reception upon check in. You can also buy regular tickets from any stop.</p>
      <p>From Lausanne main train station, you can reach EPFL in about 25 minutes using the Metro (Line M2) to station “Lausanne Flon” and then line M1 from “Lausanne Flon” towards “Renens”, stop “Ecublens EPFL”.</p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">What to visit in Lausanne</h2>
      <p>Official website of Lausanne Tourism: <a href="https://www.lausanne-tourisme.ch/en/" target="_blank">https://www.lausanne-tourisme.ch/en/</a></p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Organizers</h2>
      <p>
      <div class="text-center">
        <a href="#Team" data-toggle="modal" class="btn btn-sm-new">Show full team</a>
      </div>
      </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Contact us</h2>
      <p>If you have any question or remark, you can send us an email using <a href="mailto:openscience@epfl.ch">openscience@epfl.ch</a></p>
    </div>


    <div class="row" style="margin-top:40px;">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for about_data in site.data.twenty_19.home_about_data %}
          <li class="{{ about_data.inverted }}">
            <div class="timeline-image">
              <img class="img-responsive" src="{{ about_data.img | prepend: "/../assets/2019_style/img/" | prepend: site.baseurl }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h2>{{ about_data.name }}</h2>
              </div>
              <div class="timeline-heading">
                <p class="text-muted">{{ about_data.info }}</p>
              </div>
              <a href="#{{ about_data.name }}" class="btn btn-sm-new" data-toggle="modal">Learn More</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
