<!-- Info Section -->
<section id="info" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Practical Information</h2>
      </div>
      <div class="col-md-8 col-md-offset-2 col-12">
        <div class="text-center">
          <h2>Important dates</h2>
          <table class="table" align="center">
            <tr>
              <td width="80px" align="right">30 May 2019</td>
              <td width="100px" align="left"><b><span class="text-highlight">Registration opens</span></b></td>
            </tr>
            <tr>
              <td width="80px" align="right">1 July 2019</td>
              <td width="100px" align="left"><b><span class="text-highlight">Registration closes</span></b></td>
            </tr>
            <tr>
              <td width="80px" align="right">5 July 2019</td>
              <td width="100px" align="left">Accepted participants received confirmation</td>
            </tr>
            <tr>
              <td width="80px" align="right">26 August 2019</td>
              <td width="100px" align="left">First homework is due</td>
            </tr>
            <tr>
              <td width="80px" align="right">2-6 September 2019</td>
              <td width="100px" align="left">Summer School</td>
            </tr>
            <tr>
              <td width="80px" align="right">20 September 2019</td>
              <td width="100px" align="left">Second homework is due</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Course credits</h2>
      <p>
      Doctoral students from Eurotech institutions can obtain 2 ECTS for completing this Summer School (if relevant). The course is part of the EPFL doctoral school program (course description).
      </p>
      <p>
      Non-Eurotech PhD candidates who wish to register for ECTS credits should check with their own institution for the possibility and procedure to receive the credits.
      </p>

      <p>
      Requirements and workload for obtaining credits are as follow:
      <ul>
        <li>
          <p>
          Participation to the full program
          </p>
        </li>
        <li>
          <p>
          Pre-course homework (ca 8 hours to be completed 1 week prior to the course)
          </p>
        </li>
        <li>
          <p>
          Post-course homework (ca 8 hours to be completed 2 weeks after the course)
          </p>
        </li>
      </ul>
      </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Course fee</h2>
      <p>
      EUR 110.- per participant (including a EUR 10 transaction fee, to be paid within 30 days after confirmation of course acceptance)
      </p>
      <p>
      The fee covers: course material, lectures and workshops, lunch and coffee breaks, course dinner on Thursday night.
      Accommodation, travel and remaining dinners are to be paid separately (see information below).
      </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Accommodation</h2>
      <p>
      Doctoral students affiliated to Eurotech Universities (TUM, TU/e, DTU, X, Technion, but not EPFL) will be offered accommodation. Please fill the registration form accordingly. Booking will be done by the organisation team and costs directly covered by the Eurotech Universities consortium.
      </p>
      <p>
      Other participants who require accommodation should make their own arrangement and payment. We can recommend the following options:
      </p>
      <ul>
        <li>
          <p>
          <a ref="https://www.accorhotels.com/gb/hotel-6772-ibis-lausanne-centre/index.shtml" target="_blank">Ibis Hotel</a> - in the city center, 5 minutes from a metro station, 20 minutes to EPFL
          </p>
        </li>
        <li>
          <p>
          <a ref="https://www.swisstech-hotel.com/en/home" target="_blank">Swisstech Hotel</a> - on campus, right at the EPFL metro station
          </p>
        </li>
        <li>
          <p>
          <a ref="http://www.lhotel.ch" target="_blank">Mad House</a> - in the city center, very good location right at metro station, 15 minutes to EPFL
          </p>
        </li>
        <li>
          <p>
          <a ref="http://byfassbind.com/hotel/lausanne/" target="_blank">Lausanne, by Fassbind</a> - in the city center, good location, 25 minutes to EPFL
          </p>
        </li>
        <li>
          <p>
          <a href="https://starling-hotel-lausanne.com " target="_blank">Starling Hotel</a> - on campus, 10 minutes walk from EPFL metro station
          </p>
        </li>
      </ul>
      <p>If you need any more information or recommendations, you can <a class="page-scroll text-highlight" href="#contact">contact us</a>. </p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Travel</h2>
      <p>
      Doctoral students affiliated to Eurotech Universities (TUM, TU/e, DTU, X, Technion, but not EPFL) should book their own travel. However, their costs will be reimbursed by their home university (within reason, economy class flights and 2nd class train). More details about reimbursement will be given upon confirmation of participation, but do keep all receipts to facilitate the process.
      </p><p>
Other participants should make their own arrangement and arrange payment through their home institution.
      </p><p>
We believe it is necessary for you to arrive the night before the course starts (Sunday 1st September). You will be able to leave EPFL around 2pm on the afternoon of the last day (Friday 6th September). We can make the following travel recommendations:
      </p>

      <h3>By plane</h3>
      <p>The closest airport to EPFL is Geneva International (<a href="https://www.gva.ch/en/" target="_blank">GVA</a>). As an alternative, you can fly to Zürich airport (<a href="https://www.zurich-airport.com/passengers-and-visitors" target="_blank">ZRH</a>). However, please note that, although there is a direct train link from Zürich airport to Lausanne, the travel time is significantly longer.</p>
      <p>From Geneva airport (GVA) to Lausanne: direct train connection, 45-60 minutes</p>
      <p>From Zürich airport (ZRH) to Lausanne: direct train connection, 2 hours 30 minutes</p>
      <h3>By train</h3>
      <p>International train connections make it easy to travel to Lausanne e.g. from France, Germany and Italy. Swiss trains can be scheduled and booked with the <a href="https://www.sbb.ch" target="_blank">SBB</a>. Please consider this option to reduce your carbon footprint.</p>
      <h3>Local public transport</h3>
      <p>Most hotel deals will come with a free public transportation card for the duration of your stay. Do ask the reception upon check in. You can also buy regular tickets from any stop.</p>
      <p>From Lausanne main train station, you can reach EPFL in about 25 minutes using the Metro (Line M2) to station “Lausanne Flon” and then line M1 from “Lausanne Flon” towards “Renens”, stop “Ecublens EPFL”.</p>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">What to visit in Lausanne</h2>
      <p class="text-center">Official website of Lausanne Tourism: <a href="https://www.lausanne-tourisme.ch/en/" target="_blank">https://www.lausanne-tourisme.ch/en/</a></p>
    </div>

    <div class="row" style="margin-top:40px;">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for about_data in site.data.twenty_19.home_about_data %}
          <li class="{{ about_data.inverted }}">
            <div class="timeline-image">
              <img class="img-responsive" src="{{ about_data.img | prepend: "/../assets/2019_style/img/" | prepend: site.baseurl }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h2>{{ about_data.name }}</h2>
              </div>
              <div class="timeline-heading">
                <p class="text-muted">{{ about_data.info }}</p>
              </div>
              <a href="#{{ about_data.name }}" class="btn btn-sm-new" data-toggle="modal">Learn More</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
