<section id="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-12">
        <h2 class="section-heading">Registration</h2>

        <p> Registration will be open from May 30 until July 1st. To ensure a good diversity of participants, we kindly ask you to provide us with some information about you in the form below.</p>  

        <div class="col text-center">
          <a href="https://docs.google.com/forms/d/1yl68CzwNZWsn64vgcshSGLV9MROvuQvpUA27XHZPnAA/prefill" class="btn btn-sm-new" target="_blank">
            Register now </a>
        </div>
      </div>
    </div>
  </div>
</section>
