<section id="registration" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-12">
        <h2 class="section-heading">Registration</h2>

        <p> Registration is now open, and closes on July 1st, 17:00 CET.</p>
        <p> Successful applicants will get a confirmation of their participation on Friday 5 July.</p>

        <div class="col text-center">
          <a href="https://docs.google.com/forms/d/1yl68CzwNZWsn64vgcshSGLV9MROvuQvpUA27XHZPnAA" class="btn btn-sm-new" target="_blank">
            Register now </a>
        </div>
      </div>
    </div>
  </div>
</section>
