<section id="team" class="bg-light-gray" style="padding-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-heading">Organizers</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
      <div class="col-12">
        <div class="row auto-clear">
          {% for member in site.data.twenty_19.team %}
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 speakers-item">
            <div class="card">
              <div class="card-body">
                <img class="img-centered img-responsive img-modal-team" src="{{ member.thumbnail | prepend: "/../assets/2019_style/img/team/" | prepend: site.baseurl }}" alt="Image of {{ member.name }}">
                <div class="speakers-caption">
                  <h4>{{ member.name }}</h4>
                  <p class="text-muted"> {{ member.position }}  </p>
                  <div class="social-links">
                    {% if member.email %}
                    <a href="mailto:{{member.email}}" alt="Send Email to {{member.name}}">
                      <i class="fa fa-envelope"></i>
                    </a>
                    {% endif %}
                    {% if member.twitter %}
                    <a href="https://www.twitter.com/{{member.twitter}}" target="_blank" alt="Link to @{{member.twitter}}">
                      <i class="fa fa-twitter"></i>
                    </a>
                    {% endif %}
                    {% if member.linkedin %}
                    <a href="{{member.linkedin}}" target="_blank" alt="Link to LinkedIn">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    {% endif %}
                    {% if member.website %}
                    <a href="{{member.website}}" target="_blank" alt="Link to personal website">
                      <i class="fa fa-home"></i>
                    </a>
                    {% endif %}
                    {% if member.github %}
                    <a href="https://www.github.com/{{member.github}}" target="_blank" alt="Link to Github profile">
                      <i class="fa fa-github"></i>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
