<!DOCTYPE html>
<html>

  {% include 2019_data/head.html %}


  <body id="page-top" class="index">

    {% include 2019_data/header-home.html %}

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text" style="padding-top:200px;">
          <div class="intro-heading">Open Science In Practice</div>
          <div class="intro-lead-in">2.9.2019 - 6.9.2019</div>
          <div class="intro-lead-in">EPFL Campus</div>
        </div>
      </div>
    </header>

    {% include 2019_data/intro.html %}
    {% include 2019_data/about.html %}
    {% include 2019_data/speakers.html %}
    {% include 2019_data/agenda.html %}
    {% include 2019_data/practical_info.html %}
    {% include 2019_data/sponsors.html %}
    {% include 2019_data/contact.html %}
    {% include 2019_data/footer.html %}
    {% include 2019_data/js.html %}
    {% include 2019_data/speakers_info.html %}
  </body>
</html>
